node_modules
static/css/main.5a6784c2.css
static/css/main.5a6784c2.css.map
static/js/main.65db88a2.js
static/js/main.65db88a2.js.LICENSE.txt
static/js/main.65db88a2.js.map
build/asset-manifest.json
build/favicon.ico
build/index.html
build/logo192.png
build/logo512.png
build/manifest.json
build/robots.txt
build/images/color-palette-2.jpg
build/images/react-bootstrap.svg
build/static/css/main.80957f35.css
build/static/css/main.80957f35.css.map
build/static/js/787.4fd517d6.chunk.js
build/static/js/787.4fd517d6.chunk.js.map
build/static/js/main.0cdebd3a.js
build/static/js/main.0cdebd3a.js.LICENSE.txt
build/static/js/main.0cdebd3a.js.map
