
body {
  /* background-color: #2B2933; */
  background-color: #333;
  color: #ddd;

}

@media print {
  .navbar {
    display: none !important;
  }
}

.App {
  text-align: center;
  margin-left: '0';
}


.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(106, 190, 242);
}

.App-link {
  color: #61dafb;
}

div.card {
  color: #f1f1f1;
  /* border: 1px solid black; */
  margin-bottom: 5px;
  border-color: #3c3734;
  background-color: #382f2b;

}

div.card-header {
  padding: 2px;
  font-size: larger;
  font-weight: bold;
  text-align: center;
}

div.card-body {
  padding: 5px;
  color:black;
  background-color: #c6b3ab; 
}


